* {
	box-sizing: border-box;
}

html {
    background-image: linear-gradient(#D4E2EC, #95B8D1);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
body {
    font-size: 18px;
    font-family: Roboto, Helvetica, sans-serif;
    color: #0A2342;
    background-color: transparent;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

#weather-info {
    margin: 0 auto;
    width: 70vw;
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
}

.section {
    margin: 20px 0;
    display: flex;
}

#left {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#middle {
    align-items: center;
    justify-content: space-around;
}

#right {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result {
    font-weight: bold;
    font-size: 25px;
}

.result#city {
    font-size: 40px;
    margin-bottom: 0;
}

.temp-section p {
    margin: 0;
}

#weather {
    margin-bottom: 0;
}

.weather-img {
    margin-top: 0;
}

form {
    margin-top: 40px;
    text-align: center;
}

@media only screen and (min-width: 1200px) {
    #weather-info {
        width: 50vw;
    }
}

@media only screen and (max-width: 800px) {
    body {
        font-size: 15px;
    }

    h1 {
        font-size: 70px;
    }
    
    .result#city {
        font-size: 30px;
    }

    #temp, #feels-like {
        font-size: 20px;
    }
}


@media only screen and (max-width: 600px) {
    h1 {
        font-size: 50px;
    }

    #weather-info {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    #middle {
        justify-content: center;
    }

    .section {
        margin: 0;
    }

    .temp-section {
        margin: 0 20px 20px 20px;
    }
}